#https://docs.docker.com/compose/compose-file/compose-file-v3/#variable-substitution

DB_LOWP_USER=pinboards_lowp_user
DB_LOWP_USER_PASSWORD=changeThisPwdInProd
DB_ROOT_PASSWORD=changeThisToo
DB_DBNAME=pinboards

