.register-container{
  margin: 0 auto;
  max-width: 600px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  margin-top: 20px;
  padding: 0px 5px 20px 5px;
}
.register-container .top-header{
  padding: 10px;
  margin-bottom: 20px;
}
.register-container.error{
  margin-top: 20px;
  padding: 20px 5px 20px 5px;
}
