.register-container{
  margin: 0 auto;
  max-width: 600px;
  text-align: center;
  margin-top: 20px;
  padding: 0px 5px 20px 5px;
}
.register-container.shadow{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.register-container .top-header{
  padding: 10px;
}
.register-container.error{
  margin-top: 20px;
  padding: 20px 5px 20px 5px;
}
.input-group{
  margin-top: 35px!important;
}
.error-message{
  max-width: 300px;
  margin: 0 auto;
}


.password-state-container{
  max-width: 300px;
  margin: 0 auto;
}
.password-state-container p{
  margin: 10px;
  /* https://stackoverflow.com/a/23206940/9169799 */
  display: inline-block;
}
.password-state-container .content{
  white-space: pre-line;
}

.register-container.captcha{
  margin-top: 20px;
  padding: 20px 5px 20px 5px;
}
.register-container.captcha .controls{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.register-container.captcha .controls .lds-ring{
  margin: 35px 0 35px 0;
}
.register-container.captcha .controls .div-button{
  margin: 35px 0 35px 0;
  height: 43px;
  width: 43px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.register-container.captcha .controls .div-button:last-of-type{
  padding: 0 5px 0 5px;
  width: auto;
}


