.register-container{
  margin: 0 auto;
  max-width: 600px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  text-align: center;
  margin-top: 20px;
  padding: 0px 5px 20px 5px;
}
.register-container .top-header{
  padding: 10px;
}
.register-container.error{
  margin-top: 20px;
  padding: 20px 5px 20px 5px;
}
.input-group{
  margin-top: 35px!important;
}
.error-message{
  max-width: 300px;
  margin: 0 auto;
}

.password-state-container{
  background-color: rgba(0,0,200, 0.1);
  max-width: 300px;
  margin: 0 auto;
}
.password-state-container p{
  margin: 10px;
  margin-top: 15px;
}
.password-state-container .div-button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.password-state-container .collapsible{
  max-height: 200px;
  transition: all 0.5s;
  overflow: hidden;
  white-space: pre-line;
}
.password-state-container .collapsible.collapsed{
  max-height: 0;
}


