body{
    padding:0;
    margin:0;
    font-family: 'Roboto', Arial;
}
img{
    pointer-events: none;
}
body:not(.using-mouse) a:focus{
    outline: 3px solid #ff9f40;
}
header{
    height: 3rem;
    width: 100%;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}
header a{
    color: white;
    background-color: #34ace0;
    padding: .6rem 2rem;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 1rem;
}
.secondary{
    background-color: transparent;
    color: #34ace0;
}
.hero{
    margin-top: 1rem;
    padding: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero h1,.hero h2{
    font-family: Roboto;
    text-transform: uppercase;
    text-align: center;
}
.hero h2{
    margin-top: 0;
    font-weight: 200;
}
.hero img{
    margin-top: 2rem;
    height: 50vh;
    width: auto;
    flex-shrink: 0;
}

.preview_1{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview_1 img{
    margin: 0 5rem;
}
.preview_1 h1{
    text-transform: uppercase;
    /* font-weight: 200; */
}
.preview_1 section{
    max-width: 30rem;
}

.start_now{
    margin-top: -2rem;
    display: grid;
    grid-template-columns: auto minmax(70vw, 40rem) auto;
    grid-template-areas: ". center .";
    overflow: hidden;
    min-height: 20rem;
    --color: #424242;
    color: var(--color);
}

.start_now section{
    grid-area: center;
    place-self: center;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    height: 30rem;
    text-align: center;
    padding: 1rem;
}

.start_now a.btn{
    grid-area: center;
    place-self: center;
    z-index: 2;
    color: var(--color);
    border: 2px solid var(--color);
    padding: .6rem 2rem;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 1rem;
    background-color: white;
box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.start_now img{
    width: 100%;
    height: auto;
    max-height: 50rem;
    place-self: center;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-end: 4;
}
.start_now span{
    color: #ff7894;
}