body{
    padding:0;
    margin:0;
    font-family: 'Roboto', Arial;
}
header{
    height: 3rem;
    width: 100%;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}
header a{
    color: white;
    background-color: #34ace0;
    padding: .6rem 2rem;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 1rem;
}
.secondary{
    background-color: transparent;
    color: #34ace0;
}
.hero{
    margin-top: 1rem;
    padding: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero h1,.hero h2{
    font-family: Roboto;
    text-transform: uppercase;
    text-align: center;
}
.hero h2{
    margin-top: 0;
    font-weight: 200;
}
.hero img{
    margin-top: 2rem;
    height: 50vh;
    width: auto;
    flex-shrink: 0;
}

.preview_1{
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.preview_1 img{
    margin: 0 5rem;
}
.preview_1 h1{
    text-transform: uppercase;
    /* font-weight: 200; */
}
.preview_1 section{
    max-width: 30rem;
}

.start_now{
    margin-top: 3rem;
}

.start_now a{
    color: white;
    background-color: #34ace0;
    padding: .6rem 2rem;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 1rem;
}