body{
    padding:0;
    margin:0;
    font-family: 'Roboto', Arial;
}
header{
    height: 3rem;
    width: 100%;
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
}
header a{
    color: white;
    background-color: #34ace0;
    padding: .6rem 2rem;
    border-radius: 20px;
    text-decoration: none;
    margin-right: 1rem;
}
.secondary{
    background-color: transparent;
    color: #34ace0;
}
h1,h2{
    font-family: Roboto;
    text-transform: uppercase;
    text-align: center;
}
h2{
    margin-top: 0;
    font-weight: 200;
}
.hero{
    padding: .5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.hero img{
    margin-top: 2rem;
    height: 50vh;
    width: auto;
    flex-shrink: 0;
}