/* cards system and dynamic tabs */
/* https://css-tricks.com/css3-tabs/ */
div.card.account{
}
/* work in progress */
div.card.account .top-bar{
  background-color: red;
  padding: 0;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
div.card.account .top-bar div{
  width: 40%;
  text-align: center;
  background-color: white;
}
div.card.account .top-bar .left{
  justify-content: flex-start;
  background-color: green;
}
div.card.account .top-bar .right{
  justify-content: flex-end;
}
div.card.account .top-bar h2{
  /* margin-right: 10px; */
}


div.card.account .card-content{
  padding: 10px;
  text-align: center;
  background-color:#fcfcfc;
}


/*layout*/
/* large tablets */
@media (min-width: 600px){
  div.content .card{
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
  }
}
/* desktop - semi large screens */
@media (min-width: 840px){
  div.card.account .top-bar{
    display: none;
  }
  div.content{
    display: flex;
    align-items: flex-start;
    justify-content: center;

    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
  }
  div.content .card{
    width: 380px;
    margin: 10px;
  }
}
/* desktop - very large screens */
@media (min-width: 940px){
  div.content .card{
    width: 500px;
  }
}


/* collapsible content in all the elements*/
div.card.account .collapse-content{
  padding: 10px;
  text-align: center;
}
/* invites */
div.card.account h3{
  margin-top: 25px;
  margin-bottom: 35px;
}
/* ivite via mail */
div.card.account .btns-container{
  display: flex;
  justify-content: center;
}
/* ivite via link */
div.card.account .link-container{
  user-select: all;
  color: green;
  padding: 5px;
}
/* class members list panel */
div.card.account .members-container .no-members{
  padding: 30px 10px 40px 10px;
}
div.card.account .members-container{
  margin: 0 auto;
  max-width: 300px;
  border-top: 2px solid rgba(0,0,0,0.2);
  box-shadow: 1px 3px 4px 2px rgba(0,0,0,0.1);
  /* border: 1px solid gray; */
}
div.card.account .members-container .red-link{
  color: #ff3333;
}
div.card.account .members-container .custom-button-add{
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
div.card.account .members-container .custom-button-add span{
  margin-left: 15px;
  margin-right: 10px;
}
div.card.account .members-container .custom-button{
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  width: 100%;
}
div.card.account .members-container .custom-button p{
  margin: 12px 10px 12px 10px;
}
div.card.account .members-container .custom-button .admin-tag{
  color: green;
}
div.card.account .members-container .collapsible-container{
  border-bottom: 2px solid rgba(0,0,0,0.2);
}

div.card.account .members-container p{
  margin: 12px 0 12px 0;
}
div.card.account .members-container .collapse-content .input-group{
  margin-bottom: 15px;
}
div.card.account .members-container .collapse-content{
  background-color: white;
  border-top: 1px solid rgba(0,0,0,0.1);
  text-align: left;
}

